@media only screen and (max-width: 1632px) and (min-width: 1585px)  {
    .img-1 {
        right: 36rem;
        height: 200px;
    }

    .img-2 {
        right: 19rem;
    }

    .img-3 {
        right: 19rem;
    }

    .img-4 {
        right: 4rem;
    }

    .img-5 {
        right: 4rem;
    }

    .img-6 {
        right: -11rem;
    }

    .img-7 {
        right: -11rem;
    }
}
@media only screen and (max-width: 1584px) and (min-width: 1513px)  {
    .img-1 {
        right: 36rem;
        height: 200px;
    }

    .img-2 {
        right: 19rem;
    }

    .img-3 {
        right: 19rem;
    }

    .img-4 {
        right: 4rem;
    }

    .img-5 {
        right: 4rem;
    }

    .img-6 {
        right: -11rem;
    }

    .img-7 {
        right: -11rem;
    }
}

@media only screen and (max-width: 1512px) and (min-width: 1459px)  {
    .img-1 {
        right: 37rem;
        height: 190px;
    }

    .img-2 {
        right: 21rem;
        height: 260px;
    }

    .img-3 {
        right: 21rem;
        top: 25rem;
    }

    .img-4 {
        right: 6rem;
    }

    .img-5 {
        right: 6rem;
    }

    .img-6 {
        right: -9rem;
    }

    .img-7 {
        right: -9rem;
    }
}

@media only screen and (max-width: 1458px) and (min-width: 1400px)  {
    .img-1 {
        right: 38rem;
        height: 180px;
    }

    .img-2 {
        right: 23rem;
        height: 250px;
    }

    .img-3 {
        right: 23rem;
        height: 160px;
        top: 25rem;
    }

    .img-4 {
        right: 8rem;
    }

    .img-5 {
        right: 8rem;
    }

    .img-6 {
        right: -7rem;
    }

    .img-7 {
        right: -7rem;
    }
}

@media only screen and (max-width: 1399px) and (min-width: 1300px)  {
    .img-1 {
        right: 38.5rem;
        height: 170px;
    }

    .img-2 {
        right: 24rem;
        height: 240px;
    }

    .img-3 {
        right: 24rem;
        height: 150px;
        top: 24rem;
    }

    .img-4 {
        right: 10rem;
        height: 150px;
    }

    .img-5 {
        right: 10rem;
        height: 150px;
    }

    .img-6 {
        right: -4rem;
        height: 150px;
    }

    .img-7 {
        right: -4rem;
        height: 150px;
    }
}

@media only screen and (max-width: 1299px) and (min-width: 1200px)  {
    .img-1 {
        right: 39.5rem;
        height: 160px;
    }

    .img-2 {
        right: 25rem;
        height: 230px;
    }

    .img-3 {
        right: 25rem;
        height: 150px;
        top: 24rem;
    }

    .img-4 {
        right: 12rem;
        height: 140px;
    }

    .img-5 {
        right: 12rem;
        height: 140px;
        top: 22rem;
    }

    .img-6 {
        right: -1rem;
        height: 140px;
    }

    .img-7 {
        right: -1rem;
        height: 140px;
    }

    .pricing-2-head {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1133px) {
    .main-banner form {
        margin-right: 0rem;
    }

    .img-1 {
        right: 29rem;
        height: 140px;
        top: 19rem;
    }

    .img-2 {
        right: 17rem;
        height: 200px;
    }

    .img-3 {
        right: 17rem;
        height: 130px;
        top: 21rem;
    }

    .img-4 {
        right: 6rem;
        top: 9rem;
        height: 120px;
    }

    .img-5 {
        right: 6rem;
        height: 120px;
        top: 19rem;
    }

    .img-6 {
        right: -5rem;
        height: 120px;
    }

    .img-7 {
        right: -5rem;
        height: 120px;
        top: 17rem;
    }

    .banner-content-3 {
        padding-top: 0rem;
    }

    .main-banner {
        height: 600px;
    }

    .banner-content-3-images {
        margin-left: 0rem;
        padding-left: 15px;
    }

    .banner-content-3-images img {
        max-width: 90%;
    }

    .main-banner form img {
        display: none;
    }
}

@media only screen and (max-width: 1132px) and (min-width: 1100px) {
    .main-banner form {
        margin-right: 0rem;
    }

    .img-1 {
        right: 29.5rem;
        height: 140px;
        top: 19rem;
    }

    .img-2 {
        right: 18rem;
        height: 200px;
    }

    .img-3 {
        right: 18rem;
        height: 130px;
        top: 21rem;
    }

    .img-4 {
        right: 7.5rem;
        top: 9rem;
        height: 120px;
    }

    .img-5 {
        right: 7.5rem;
        height: 120px;
        top: 18.5rem;
    }

    .img-6 {
        right: -3rem;
        height: 120px;
    }

    .img-7 {
        right: -3rem;
        height: 120px;
        top: 17rem;
    }

    .banner-content-3 {
        padding-top: 0rem;
        top: 2rem;
    }

    .main-banner {
        height: 550px;
    }

    .banner-content-3-images {
        margin-left: 0rem;
        padding-left: 15px;
        top: 2rem;
    }

    .banner-content-3-images img {
        max-width: 85%;
    }

    .main-banner form img {
        display: none;
    }
}

@media only screen and (max-width: 1099px) and (min-width: 1040px) {
    .main-banner form {
        margin-right: 0rem;
    }

    .img-1 {
        right: 30rem;
        height: 130px;
        top: 19rem;
    }

    .img-2 {
        right: 18.5rem;
        height: 190px;
    }

    .img-3 {
        right: 18.5rem;
        height: 120px;
        top: 21rem;
    }

    .img-4 {
        right: 8.5rem;
        top: 9rem;
        height: 110px;
    }

    .img-5 {
        right: 8.5rem;
        height: 110px;
        top: 18.5rem;
    }

    .img-6 {
        right: -1.5rem;
        height: 110px;
    }

    .img-7 {
        right: -1.5rem;
        height: 110px;
        top: 17rem;
    }

    .banner-content-3 {
        padding-top: 0rem;
        top: 2rem;
    }

    .main-banner {
        height: 550px;
    }

    .banner-content-3-images {
        margin-left: 0rem;
        padding-left: 15px;
        top: 1rem;
    }

    .banner-content-3-images img {
        max-width: 85%;
    }

    .main-banner form img {
        display: none;
    }
}

@media only screen and (max-width: 1039px) and (min-width: 992px) {
    .main-banner form {
        margin-right: 0rem;
    }

    .img-1 {
        right: 31rem;
        height: 120px;
        top: 19rem;
    }

    .img-2 {
        right: 20rem;
        height: 180px;
    }

    .img-3 {
        right: 20rem;
        height: 110px;
        top: 20rem;
    }

    .img-4 {
        right: 10.5rem;
        top: 10rem;
        height: 100px;
    }

    .img-5 {
        right: 10.5rem;
        height: 100px;
        top: 19rem;
    }

    .img-6 {
        right: 1rem;
        height: 100px;
        top: 9rem;
    }

    .img-7 {
        right: 1rem;
        height: 100px;
        top: 17.5rem;
    }

    .banner-content-3 {
        padding-top: 0rem;
        top: 2rem;
    }

    .main-banner {
        height: 550px;
    }

    .banner-content-3-images {
        margin-left: 0rem;
        padding-left: 15px;
        top: 1rem;
    }

    .banner-content-3-images img {
        max-width: 85%;
    }

    .main-banner form img {
        display: none;
    }

    .pricing-2-head {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 1200px) {

    .process-image {
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;
    }
    .process-image img {
        position: absolute;
        top: 4px;
        left: 0rem;
        max-width: 100%;
    }

    .banner-row-1 form .fa-user {
        top: 10.5rem;
    }
      
    .banner-row-1 form .fa-envelope {
        top: 14rem;
    }
      
    .banner-row-1 form .fa-phone-flip {
        top: 17.5rem;
    }
}

@media screen and (max-width: 991px) {
    .banner-images {
        display: none;
    }

    .nav-4 {
        margin: auto 0rem auto 0rem !important;
    }

    .banner-content-1 {
        text-align: center;
    }

    .banner-content-2 {
        text-align: center;
    }

    .banner-row-1 {
        justify-content: center;
    }

    .banner-content-3 {
        top: 1rem;
    }

    .banner-content-3 form{
        margin-right: 0rem;
    }

    .main-banner form img {
        display: none;
    }

    .banner-content-3-images {
        display: none;
    }

    .portfolio {
        padding-top: 5rem;
    }

    .process-image img {
        width: 350px;
        top: 2rem;
        left: 0rem;
    }

    .content-3 .cta-text-5 {
        font-size: 1.2rem;
    }

    .buttons .col-lg-4 p {
        font-size: 0.8rem;
    }

    .pricing-text-1 {
        font-size: 1.5rem;
    }

    .pricing-text-2 {
        font-size: 0.9rem;
    }

    .pricing-2 .row li {
        padding-bottom: 1rem;
    }

    .offer-text-1 {
        line-height: 40px;
        font-size: 2rem;
    }

    .offer-text-2 {
        font-size: 1rem;
    }

    .process-text-2 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .process .item {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .pricing-2-head {
        margin-right: 2rem;
    }

    .last-col {
        display: none;
    }

    .box-1 {
        display: block;
        
    }

    .box-2 {
        display: block;
        padding-left: 0rem;
    }

    .box-3 {
        display: block;
        padding-left: 0rem;
    }

    .box-4 {
        display: block;
        padding-left: 0rem;
    }

    .experience .row {
        justify-content: center;
        text-align: center;
    }

    .box-text {
        right: 0rem;
    }

    .experience .col-lg-9 {
        padding-right: 0px;
    }

    .box-slider {
        padding-left: 1.5rem;
    }

    .circle-price {
        left: 29rem;
    }

    .process-image {
        display: none;
    }

    
    .banner-row-1 form .fa-user {
        position: absolute;
        top: 11.5rem;
        left: 3rem;
    }
    
    .banner-row-1 form .fa-envelope {
        position: absolute;
        top: 15rem;
        left: 3rem;
    }
    
    .banner-row-1 form .fa-phone-flip {
        position: absolute;
        top: 18.5rem;
        left: 3rem;
    }

    .cta-2 .nav-btn img {
        display: none;
    }

    .cta-2 .nav-btn {
        padding-left: 1rem;
    }


    .main-nav .nav-btn img {
        display: none;
    }

    .main-nav .phone p {
        padding-left:0.3rem ;
    }

    .main-nav .email p {
        padding-left: 0.3rem;
    }

    .main-nav .message span {
        font-size: 1rem;
    }

    .main-nav .message p {
        font-size: 0.7rem;
    }
    .main-nav .nav-btn {
        padding: 0.5rem 1rem;
    }

}

@media screen and (max-width: 768px) {
    .nav-4 {
        margin: auto 0rem auto 0rem !important;
        display: flex;
        justify-content: end;
    }

    .process-image {
        display: none;
    }

    .footer .row .col-lg-4 {
        justify-content: center;
    }

    .footer .row .justify-content-end{
        justify-content: center !important;
    }

    .content-1 {
        margin: unset;
        display: none;
    }

    .content-2 {
        margin: unset;
        display: none;
    }

    .cta-text-4 {
        text-align: center;
    }

    .cta-text-5 {
        text-align: center;
    }

    .buttons .col-lg-3 {
        display: flex;
        justify-content: center;
    }

    .buttons .col-lg-4 {
        justify-content: center;
    }

    .footer-text-1 {
        margin-bottom: 1rem;
    }

    .circle-price {
        left: 24rem;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons .col-lg-6 {
        display: flex;
        justify-content: center;
    }

    .buttons .live-chat{
        text-align: center;
        display: block;
    }

    .cta-btn {
        justify-content: center;
    }

    .live-chat {
        text-align: center;
        padding-top: 1rem;
    }

    .nav-1 {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

}

@media screen and (max-width: 575px) {
    .pricing-2-head {
        margin-right: 3rem;
    }


    .nav-1 {
        display: flex;
        justify-content: center;
    }

    .pricing-2 .row .ul-2 {
        display: none;
    }

    .pricing-2 {
        height: 602px;
    }

    .first-process {
        display: block;
    }


    .second-process {
        display: block;
    }

    .process-text-1 {
        font-size: 2rem;
    }

    .banner-content-3-images {
        display: none;
    }

    .portfolio {
        padding-top: 6rem;
    }

    .process .row {
        padding-top: 1rem;
    }

    .process .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .box-slider {
        padding-left: 2rem;
    }

    .circle-price {
        left: 70%;
    }

    .nav-2 {
        display: flex;
        justify-content: center;
    }

    .nav-3 {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .email {
        padding-right: 1rem;
    }

    .nav-4 {
        justify-content: center;
    }
}

@media screen and (max-width: 436px) {
    .pricing-2-head {
        left: 1rem;
    }

    .pricing-text-6 {
        font-size: 2rem;
    }

    .pricing-2 ul {
        padding-inline-start: 0px;
    }

    .buttons .col-lg-4 {
        display: none !important;
    }

    .packages ul {
        padding-inline-start: 10px;
    }

    .packages li {
        padding-right: 0rem !important;
    }

    .footer-text-1 {
        font-size: 0.8rem;
    }

    .circle-price {
        left: 79%;
    }
}

@media screen and (max-width: 411px) {
    
    .portfolio {
        padding-bottom: 1rem;
    }

    .nav-2 {
        flex-direction: column;
        justify-content: center;
    }

    .main-nav .email {
        justify-content: center;
    }

    .main-nav .phone {
        justify-content: center;
    }

    .email {
        padding-right: 0rem;
    }

    .nav-3 {
        padding-right: 15px;
    }
}

@media screen and (max-width: 360px) {
    .footer-text-1 {
        font-size: 0.7rem;
    }

    .portfolio {
        padding-top: 9rem;
    }

    .banner-content-2 {
        display: none;
    }
}

@media screen and (max-width: 330px) {
    .banner-content-2 span {
        font-size: 1.3rem;
    }
}